<%- include('../partials/header')%>
<section>
    <div class="container text-center">
        <h1>Submit a New Camp</h1>
        <div class="w-100">
            <form action="/campgrounds" method="post">
                <div class="form-group w-50 mx-auto">
                    <input class="form-control" type="text" name="name" placeholder="Camp Name">
                </div>
                <div class="form-group w-50 mx-auto">
                    <input class="form-control" type="text" name="image" placeholder="Image Url">
                </div>
                <div class="form-group w-50 mx-auto">
                    <input class="form-control" type="text" name="description" placeholder="description">
                </div>

                <div class="form-group w-50 mx-auto">
                    <input class="form-control btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
            <a href="views/campgrounds">View Current Camps</a><br>
            <a href="/">Go to Homepage</a>
        </div>
    </div>
</section>
<%- include('../partials/footer')%>